# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  Buildando-jar:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Buildando com Maven
      run: mvn -B package --file pom.xml
    - name: Subindo jar
      uses: actions/upload-artifact@v4
      with:
        name: target-folder
        path: ./target
  Clamscan:

    runs-on: ubuntu-latest
    needs: Buildando-jar
    steps:
    - name: Download target folder from build
      uses: actions/download-artifact@v4
      with:
        name: target-folder
        path: ./target
    - name: Instalando clamav para verificação do .jar
      run: |
        echo "Iniciando download"
        sudo apt-get install clamav -y
        sudo systemctl stop clamav-freshclam.service
    - name: Executando verificação
      run: |
        sudo freshclam
        echo "Iniciando verificação"
        ls -l target/
        clamscan target/
  trivy-scan:
    runs-on: ubuntu-latest
    needs: Clamscan
    container:
      image: aquasec/trivy:latest
    steps:
      - name: Download target folder from build job
        uses: actions/download-artifact@v4
        with:
          name: target-folder
          path: ./target
      - name: Scan JAR with Trivy
        run: trivy fs ./target/demo-0.0.1-SNAPSHOT.jar --severity CRITICAL
  Build-Push-ECR:
    runs-on: self-hosted
    needs: trivy-scan
    steps:
      - name: Baixando jar para build no docker
        uses: actions/download-artifact@v4
      
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Verificar Docker daemon
        run: docker info
      
      - name: Configurar AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY_SECRET }}
          aws-region: sa-east-1
      
      - name: Login no ECR
        uses: aws-actions/amazon-ecr-login@v2
      
      - name: Build e Push no ECR
        run: |
          docker build \
            --tag 632469639057.dkr.ecr.sa-east-1.amazonaws.com/teste-deploy:${{ github.run_number }} \
            --tag 632469639057.dkr.ecr.sa-east-1.amazonaws.com/teste-deploy:latest \
            .
          docker push 632469639057.dkr.ecr.sa-east-1.amazonaws.com/teste-deploy:${{ github.run_number }}
          docker push 632469639057.dkr.ecr.sa-east-1.amazonaws.com/teste-deploy:latest

  Build-Push-EC2:
    runs-on: self-hosted
    needs: Build-Push-ECR

    steps:
        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY_SECRET }}
            aws-region: sa-east-1
        - name: Deploy para EC2
          run: |
            aws ssm send-command \
              --instance-ids $INSTANCE_ID_APP \
              --document-name "AWS-RunShellScript" \
              --comment "Deploy Docker image from ECR" \
              --parameters '{
                "commands": [
                  "sudo apt-get update -y",
                  "sudo apt-get install -y docker.io unzip curl",
                  "curl \"https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip\" -o \"awscliv2.zip\"",
                  "unzip -o awscliv2.zip",
                  "sudo ./aws/install",
                  "aws --version",
                  "aws ecr get-login-password --region sa-east-1 | sudo docker login --username AWS --password-stdin 632469639057.dkr.ecr.sa-east-1.amazonaws.com",
                  "sudo docker pull 632469639057.dkr.ecr.sa-east-1.amazonaws.com/teste-deploy:latest",
                  "sudo docker stop teste-deploy || true",
                  "sudo docker rm teste-deploy || true",
                  "sudo docker run -d --name teste-deploy -p 8080:8080 632469639057.dkr.ecr.sa-east-1.amazonaws.com/teste-deploy:latest"
                ]
              }' \
              --max-concurrency "1" \
              --max-errors "0" \
              --region sa-east-1
          env:
            INSTANCE_ID_APP: ${{ secrets.INSTANCE_ID_APP }}
        - name: Deploy index.html para S3
          run: |
            aws s3 cp index.html s3://endpoint-returning-200/index.html --acl public-read

